[Unit]
Description={{ server_name }}

[Service]
User={{ server_name }}
Group={{ server_name }}
Restart=always
RestartSec=5
StandardOutput=append:/var/log/{{ server_name }}.log
StandardError=append:/var/log/{{ server_name }}.log

ExecStart={{ service_exec_start }}
ExecStop={{ service_exec_stop }}

[Install]
WantedBy=multi-user.target
